.main-container {
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
    min-width: 0;
    min-height: 0;
}

#webviews-container {
    flex: 1;
    position: relative;
    height: 100%;
    min-width: 0;
    min-height: 0;
}

.webview-mock {
    width: 100%;
    height: 100%;
    display: none;
    background: #fff;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.webview-mock.active {
    display: flex;
    flex-direction: column;
}

webview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: #fff;
}

webview.active {
    display: flex;
}
